<<<<<<< HEAD

<h3>{{ hero.meta('herotitle') }}</h3>
<h3>{{ hero.meta('herosubtitle') }}</h3>
=======
{% block content %}
    {% for h in hero %}
        <h3>{{ h.meta('herotitle') }}</h3>
        <h3>{{ h.meta('herosubtitle') }}</h3>
    {% endfor %}
{% endblock %}
>>>>>>> bf3b72062a04e57506866dcb11ab142aba4df81d
